<div class="title">
  <h1>A Query:</h1>
</div>

<div class="box">
  <div class="question">
    <%= @answer[:question] %>
  </div>
  <div class="person">- You</div>
</div>

<div class="box">
  <div class="question">
    <%= @reply %>
  </div>
  <div class="person">- Coach</div>
</div>
<div class="askagain"><%= link_to "Ask me again!", ask_path %></div>
