<div class="title">
  <h1>Answer!</h1>
</div>

<div class="box">
  <div class="question">
    <%= @answer[:question] %>
  </div>
  <div class="person">- You</div>
</div>

<div class="box">
  <div class="question">
    <%= @reply %>
  </div>
  <div class="person">- Coach</div>
</div>
