<div class="container" style="padding-top: 30px;">
  <form class="form-inline" action="/answer" method="get">
    <div class="form-group mb-2" style="width: 80%;">
      <input type="text" class="form-control-plaintext" id="staticEmail2" name="question" placeholder="Ask a question">
    </div>
    <button type="submit" class="btn btn-primary mb-2" style="width: 20%;">Ask!</button>
  </form>
</div>

<!--
<form action="???">
  <input type="text" name="???">
  <input type="submit" value="Ask!">
</form> -->
